h1 { 
    font-family: Garamond; 
    font-size: 10vh; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 8vw; 
} 

p { font-family: Helvetica; 
    font-size: 2.5vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 3vw; 
    color: #36332f;
}